.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aeonik Medium', sans-serif !important;
}

* {
  font-family: 'Inter', sans-serif;
}

button.list-group-item-action.active {
  background: rgb(141,179,181);
  background: linear-gradient(90deg, rgba(141,179,181,1) 0%, rgba(2,0,36,0.03405112044817926) 40%);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  font-weight: 500;
}

button.small-buttons {
  border: var(--bs-list-group-border-width) solid #000 !important;
}

button.list-group-item-action:hover {
  box-shadow: inset 8px 0 10px #B4D4D1;
}

.list-group-item.list-group-item-profile {
  background-color: rgba(2,0,36,0.03405112044817926) !important;
}

.list-group-item-profile {
  background-color: rgba(2,0,36,0.03405112044817926) !important;
}

.climate-banner {
  background-image: url('../../../public/images/climate-bg-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.climate-banner > div {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-primary-color {
  color: #B4D4D1 !important;
}

.app-primary-bg-color {
  background-color: #B4D4D1 !important;
}

.app-secondary-color {
  color: #E9F2F1 !important;
}

.app-secondary-bg-color {
  background-color: #E9F2F1 !important;
}

.app-dark-color {
  color: #222826 !important;
}

.app-dark-bg-color {
  background-color: #222826 !important;
}

.app-alternate-color {
  color: #056DB6 !important;
}

.app-alternate-bg-color {
  background-color: #056DB6 !important;
}

.app-success-color {
  color: #60C977 !important;
}

.app-success-bg-color {
  background-color: #60C977 !important;
}

.btn-app:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

.nav .nav-link, .nav .nav-link::before {
  transition: ease 0.5s;
}


.nav .nav-link:hover {
  color: darkgray !important;
  transform: translateY(-10px);
}

.dataset-card {
  background: rgb(141,179,181);
background: linear-gradient(90deg, rgba(141,179,181,0.1825105042016807) 0%, rgba(2,0,36,0.03405112044817926) 40%);
border: 1px solid lightgray;
box-shadow: 0px 1px 8px 0px lightgray;
-webkit-box-shadow: 0px 1px 8px 0px lightgray;
-moz-box-shadow: 0px 1px 8px 0px lightgray;
}

.dataset-card:hover span.dataset-name {
  color: rgb(229, 149, 0);
}

.dataset-card:hover {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #B4D4D1 !important;
  border-color: #B4D4D1 !important;
}

a.page-link {
  color: #222826;
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #B4D4D1 !important;
}

.header-div {
  background-image: url('https://visme.co/blog/wp-content/uploads/climate-change-facts-header-wide.gif');
  background-position: center;
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
  width: 100%;
}

.redirect-link{
  --n:4; /* adjust this to control the delay */

  text-decoration:none;
  display:inline-block;
  background:
    linear-gradient(to right,
       #000          calc(100%/var(--n)),
       transparent 0 calc((var(--n) - 1)*100%/var(--n)),
       #000 0) 
    bottom right/
    calc(var(--n)*100%) 1px 
    no-repeat;
}
.redirect-link:hover {
  background-position:bottom left;
  transition:1.5s; /* adjust this to control the total duration */
}

.redirect-link::after{
  content: "";
  width: 2px;
  background-image: url(/public/images/arrow-up-right.png);
  background-size: 12px 12px;
  display: inline-block;
  width: 12px; 
  height: 12px;
  margin-left: 0.5em;
  text-decoration: none !important;
  }

.link-app{
  width: 11em;
  padding: 0.5em;
  padding-left: 0.8em;
  border-radius: 20px;
  border: 1px solid #282c34;
  cursor: pointer;
  background: transparent;
  /* background-image: url('https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871'); */
  background-image: url('/public/images/nav-btn-fill-dark.png');
  background-repeat: repeat-x;
  background-position: 0 -100%;
  background-color: #B4D4D1;
  transition: 1.0s ease;
  margin-right: 8em;
}

.link-app:hover{
  background-position: center;
  color: wheat !important;
}

.link-app:nth-child(1){
  filter: hue-rotate(0deg);
}

.link-app:nth-child(2){
  filter: hue-rotate(40deg);
}

.link-app:nth-child(3){
  filter: hue-rotate(60deg);
}

.link-app:nth-child(4){
  filter: hue-rotate(80deg);
}

.link-app:nth-child(5){
  filter: hue-rotate(100deg);
}

.link-app:nth-child(6){
  filter: hue-rotate(120deg);
}

.link-app:nth-child(7){
  filter: hue-rotate(140deg);
}

.link-app:nth-child(8){
  filter: hue-rotate(160deg);
}

.link-app:nth-child(9){
  filter: hue-rotate(180deg);
}

.link-app:nth-child(10){
  filter: hue-rotate(160deg);
}

.link-app:nth-child(11){
  filter: hue-rotate(200deg);
}

.link-app:nth-child(12){
  filter: hue-rotate(260deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  /* --color-green: #558309; */
  --app-primary-color: #B4D4D1;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

a.active {
  display: inline-block;
  position: relative;
  color:#222826 !important;
  font-weight: 500;
}

a.active::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: #222826;
  bottom: 1px;
  height: 8px;
  content: '';
  width: 8px;
  left: 50%;
}

a.active:hover::before {
  background-color: darkgray !important;
  bottom: -9px;
}

.nav .nav-link:hover {
  display: inline-block;
  position: relative;
}

.nav .nav-link:hover::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: darkgray;
  bottom: -9px;
  height: 8px;
  content: '';
  width: 8px;
  left: 50%;
}

.grid-radio {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
 
  @media (min-width: 42em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-radio-4 {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
 
  @media (min-width: 42em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-radio-2 {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
 
  @media (min-width: 42em) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: var(--card-radius);
  position: relative;
  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) { 
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: 
      background 0.2s ease-out,
      border-color 0.2s ease-out;
    width: var(--radio-size); 

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: '';
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: 
        rotate(45deg)
        translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--app-primary-color);
      border-color: var(--app-primary-color);
    }
  }
  
  .card:hover .radio {
    border-color: var(--color-dark-gray);
    
    &:checked {
      border-color: var(--app-primary-color);
    }
  }
}

.plan-details {
  /* border: var(--radio-border-width) solid var(--color-gray); */
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.card:has(.radio:checked)   {
  border: solid var(--color-gray);
  border-color: var(--app-primary-color);
}

/* .radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
} */

.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.card:hover .radio:disabled {
    border-color: var(--color-gray);
  }

.plan-type {
  color: var(--app-primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

.plan-cost {
  font-size: 1.5rem;
  /* font-weight: bold; */
  padding: 0.8rem 0.5rem;
  color: var(--app-primary-color);
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FOOTER CSS */
.footer-20192 {
  margin-top: 10em;
  position: relative;
  color: #fff;
  padding: 3rem 0 2rem 0;
  background-color: #141d2a; }
  .footer-20192 .container {
    position: relative; 
  }
  .footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5; }
  .footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block; }
    .footer-20192 .links li a {
      color: #FFF; }
      .footer-20192 .links li a:hover {
        color: #fff; }
  .footer-20192 .social li {
    display: inline-block;
    position: relative; }
    .footer-20192 .social li a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: #B4D4D1;
      color: #fff; }
      .footer-20192 .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .footer-20192 .copyright {
    color: #fff; }
  .footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 10px;
    background-color: #B4D4D1;
    top: -108px;
    border-radius: 1em;
    position: relative; }
    .footer-20192 .cta h2, .footer-20192 .cta h3 {
      line-height: 1.5; }
    .footer-20192 .cta h3 {
      font-size: 20px; }
/* ---------- */

/* CUSTOM TABLE RESPONSIVE */

.pagination > .active > a
{
    background-color: #B4D4D1;
    border: solid 1px #B4D4D1;
}

.pagination > .active > a:hover
{
    background-color: #B4D4D1;
    border: solid 1px #B4D4D1;
}

/* ----------------------- */

.selected-column {
  filter: brightness(85%);
}
